{% extends "base.html.twig" %}

{% block title 'Mon Agence' %}

{% block body %}
    
    <div class="jumbotron text-center">
        <h1>Agense DWWM</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam iaculis
            nunc a vehicula bibendum. Integer vestibulum laoreet consectetur.
            Nam porta lacus vitae massa vehicula condimentum. </p>
    </div>
    
{% endblock %}